@font-face {
          font-family: 'OpenSans-Regular';
          src: url("../font_link/openScans/OpenSans-Regular.ttf");
}
@font-face {
          font-family: 'OpenSans-Medium';
          src: url("../font_link/openScans/OpenSans-Medium.ttf");
}
@font-face {
          font-family: 'OpenSans-SemiBold';
          src: url("../font_link/openScans/OpenSans-SemiBold.ttf");
}
@font-face {
          font-family: 'Athelas-Regular';
          src: url("../font_link/Athelas-Font/Athelas-Regular.ttf");
}

@font-face {
          font-family: 'Athelas-Bold';
          src: url("../font_link/Athelas-Font/Athelas-Bold.ttf");
}
@font-face {
    font-family: 'helvetica-light-587ebe5a59211';
    src: url("../font_link/Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
}
@font-face {
          font-family: 'Helvetica';
          src: url("../font_link/Helvetica-Font/Helvetica.ttf");
}
@font-face {
          font-family: 'Helvetica-Oblique';
          src: url("../font_link/Helvetica-Font/Helvetica-Oblique.ttf");
}
@font-face {
          font-family: 'Helvetica-Bold';
          src: url("../font_link/Helvetica-Font/Helvetica-Bold.ttf");
}
@font-face {
          font-family: 'Helvetica-BoldOblique';
          src: url("../font_link/Helvetica-Font/Helvetica-BoldOblique.ttf");
}
@font-face {
          font-family: 'Myriad\ Pro\ Bold\ SemiExtended';
          src: url("../font_link/myriad-pro/Myriad\ Pro\ Bold\ SemiExtended.ttf");
}
@font-face {
          font-family: 'Quattrocento-Regular';
          src: url("../font_link/Quattrocento/Quattrocento-Regular.ttf");
}
@font-face {
          font-family: 'Quattrocento-Bold';
          src: url("../font_link/Quattrocento/Quattrocento-Bold.ttf");
}
@font-face {
          font-family: 'Vani';
          src: url("../font_link/vani/Vani.ttf");
}
@font-face {
          font-family: 'Vanib';
          src: url("../font_link/vani/Vanib.ttf");
}
@font-face{
    font-family:"MyriadPro-Light" ;
    src: url("../font_link/MYRIADPRO/MyriadPro-Light.otf");
}
@font-face {
          font-family: 'MYRIADPRO-REGULAR';
          src: url("../font_link/MYRIADPRO/MYRIADPRO-REGULAR.OTF");
}




@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'OpenSans-Regular';
    color: #484F5B;  
}

h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'OpenSans-Bold';
}
p{
    margin-top: 0;
    margin-bottom: 7px;
    font-family: 'OpenSans-Regular';
}
a{
    text-decoration: none;
}

a:hover{
    color: #484F5B; 
}
.img-bg-container{
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
/* .balance-mt-5{
    padding-top: 118px;
} */

.h1,.h2,.h3,.h4,.h5,.h6,.h7,.h8,.h9,.h10,.h11,.h12,.h13{
    font-size: 35px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.h1{font-family: 'OpenSans-Regular';}
.h2{  font-family: 'Athelas-Regular';}
.h3{font-family: 'Athelas-Bold';}
.h4{font-family: 'helvetica-light-587ebe5a59211';}
.h5{ font-family: 'Helvetica';}
.h6{font-family: 'Helvetica-Oblique';}
.h7{font-family: 'Helvetica-BoldOblique';}
.h8{font-family: 'Helvetica-Bold';}
.h9{font-family: 'Myriad\ Pro\ Bold\ SemiExtended';font-weight: 400;}
.h92{font-family: 'Myriad\ Pro\ Bold\ SemiExtended';font-weight: 500;}
.h93{font-family: 'Myriad\ Pro\ Bold\ SemiExtended';font-weight: 600;}
.h10{ font-family: 'Quattrocento-Regular';}
.h11{ font-family: 'Quattrocento-Bold';}
.h12{font-family: 'Vani';}
.h13{font-family: 'Vanib';}

/* ///////////////////////////////////////////////////// */

/* navbar start */

.navbar-top-default{
    position: absolute;
    top: 118px;
    z-index: 99;
    height: 80px;
    width: 100%;
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0.6)
}


.header-appear .navbar-top-default {
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 888;
    background-color: rgba(0, 0, 0, 0.6);
    /* background: #fff; */
    -webkit-animation-name: animationFade;
    animation-name: animationFade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
}
@-webkit-keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}
@keyframes animationFade {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0);
    }
    to { opacity: 1; -webkit-transform: none; transform: none; }
}

.header-appear .navbar .logo-default,
.navbar .logo-scrolled {
    display: none;
}
.header-appear .navbar .logo-scrolled,
.navbar .logo-default{
    display: inline-block;
}
.logo{
    width: 26%;
    height: 60px;
    object-fit: cover;
}


.nav-list{
    display: inline-flex;
    list-style: none;
}
.nav-a{
    color: #fff;
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;  
    transition:  all 0.3s ease;
}
.nav-a:hover{
    color: #616366;
}

.menu-bar{
    /* border: 1px solid red; */
    display: block;
    height: 30px;
    width: 33px;
    position: relative;
}
.menu-span{
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px;
    height: 2px;
    background: #fff;
    display: inline-block;
}
.menu-span:before,
.menu-span:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    transition:  all 0.2s ease-in-out;
}
.menu-span:before{
    top: -7px;
    left: 0;
    background: #fff;
}
.menu-span:after{
    top: 7px;
    width: 15px;
    right: 0;
    background: #fff;
}
.menu-bar:hover .menu-span:before,
.menu-bar:hover .menu-span:after{
    width: 17px;
}
#menu-bar:checked ~ .nav-list{
    left: 0%;
}
.btnn-close{
    position: absolute;
    right: 65px;
    top: 30px;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    z-index: 1111;
}

.btnn-close:hover{
    -webkit-animation: .8s rotate;
    animation: .8s rotate;
}
@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.radio{
    display: none;
}
.btnn{
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 3323;
    display: inline-block;
}
.your-website{
    width: 100%;
    height: 118px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.your-website h1{
    margin-bottom: 0px;
    font-size: 25px;
    font-family: 'Myriad\ Pro\ Bold\ SemiExtended';
    font-weight: 400;
    color: #D7794A;
}
.company{
    background-color:#103D4C ;
}
.company-container{
    width: 100%;
    /* height: 700px; */
    min-height: 700px;
    background-image: url(../img/header-bg-3.png);
    position: relative;
}
.company-container:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.company-content{
    position: absolute;
    bottom: 100px;
    right: 132px;
    z-index: 22;
    text-align: center;
    
}
.company-h1{
   font-size: 72px;
   font-family: 'Athelas-Bold';
   color:#fff;
   margin-bottom: 0;
   line-height: 60px;
   text-transform: uppercase; 
}
.company-p{
   font-size: 48px;
   font-family: 'Athelas-Regular';
   color: #D7794A;
   margin-bottom: 0; 
   text-transform: uppercase; 
}

.team-container{
    padding-top: 177px;
    padding-bottom: 134px;
    
}
.team-content{
    
    text-align: center;
    position: relative;
}
.team-horizontal-line{
    width: 100%;
    max-width: 400px;
    height: 2px;
    background-color: #D7794A;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50% , -50%);
}
.team-h1{
    font-size: 61px;
    font-family: 'Athelas-Regular';
    color: #D7794A;
    margin-bottom: 125px;
}
.team-p{
    font-size: 30.55px;
    font-family: 'Helvetica';
    /* font-family: 'OpenSans-Regular'; */
    line-height: 35px;
}
.team-inner{
    margin-top: 152px;
}
.team-card-img{
    width: 100%;
    height: 473px;
    object-fit: cover;
}
.team-card-content{
    text-align: center;
    padding-right: 36px;
    padding-left: 36px;
}
.team-h2{
    margin-top: 47.4px;
    margin-bottom: 51.4px;
    font-size: 30.55px;
    font-family: 'Helvetica';
    
}
.team-p2{
    font-size: 20px;
    font-family: 'Helvetica';
    margin-bottom: 0;
    line-height: 25px;
}
.counter-container{
    background-color: #103d4c;
    padding-top: 106px;
    padding-bottom: 106px;
}
.counter-content{
    text-align: center;
}
.counter-h1{
    font-size:76.73px;
    color: #D7794A;
    font-family: 'Vanib';
    margin-bottom: 17px;
}
.counter-p{
    color: #fff;
    font-size: 25.58px;
    font-family: 'OpenSans-Regular';

}
.social-banner-container{
    background-image: url(../img/social-bg-img.png);
    height: 777px;
}
.contact-container{
    padding-top: 295px;
    padding-bottom: 175px;
    background-color: #085677;
}
.contact-content{
    text-align: center;
}
.contact-h1{
    font-size:66.26px;
    letter-spacing: 3px;
    font-family: 'Athelas-Regular';
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 67px;
}
.contact-p{
    font-size:27.61px;
    line-height: 41px;
    font-family: 'Quattrocento-Regular';
    color: #fff;
    margin-bottom: 56px;
    /* text-transform: uppercase; */
}
.row-2{
    margin-top: 50px;
}
.form-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #8F8F8F;
    padding-bottom: 8px;
    color: #8F8F8F;
    font-size: 22px;
    font-family: 'Quattrocento-Regular';
}
.form-input::placeholder{
    color: #8F8F8F;
    font-size: 22px;
    font-family: 'Quattrocento-Regular';
}
.form-btn {
    margin-top: 75px;
}
.form-btn a{
    display: inline-block;
    background-color: #89553B;
    color: #fff;
    border: 1px solid #623621;
    font-size: 24px;
    font-family: 'MYRIADPRO-REGULAR';
    padding: 20.5px 61px;
    border-radius: 4px;
    letter-spacing: 3px;
}
.about-container{
    padding-top: 353px;
    padding-bottom: 353px;
    background-image: url(../img/about-left-bg.png);
}
.about-left-img{
    width: 100%;
    height: 594px;
    object-fit: cover;
    /* height: ; */
}

.about-right-content{
    text-align: center;
}
.about-right-bottom-content{
    display: flex;
    justify-content: space-between;
}
.about-bg-color{
    background-color: #eeecec;
}
.about-right-container{
    
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: rgb(247, 237, 237);
}
.about-inner-content{
    text-align: center;
    /* border: 1px solid red; */
}
.about-h1{
    font-size: 48px;
    font-family: 'OpenSans-Regular';
    margin-bottom: 60px;
}
.about-mt{
    margin-top: 67px;
}
.about-radius-img{
    width: 100%;
    max-width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.432);
    position: relative;
}
.about-radius-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.about-radius-img:before{
    content: '';
    position: absolute;
    bottom: -19%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 3px;
    height: 25px;
    background-color: gray;
}
.about-right-span{
    margin-top: 24px;
    display: inline-block;
    padding: 15px 13px;
    font-size: 20px;
    font-family: 'MYRIADPRO-REGULAR';
    border: 1px solid gray;
}

.gallery-container{
    padding-top: 70px;
    padding-bottom: 0px;
}
.gallery-content{
    text-align: center;
}
.gallery-h1{
    color: #A95E39;
    font-size: 72px;
    font-family: 'Athelas-Regular';
    margin-bottom: 70px;
    text-transform: uppercase;
}
.gallery-p{
    font-size: 30.55px;
    font-family: 'OpenSans-Regular';
    /* font-family: 'OpenSans-Regular'; */
    line-height: 35px;
    padding-bottom: 0px;
}
.gallery-images{
    margin-top: 90px;
}
.gallery-col-2{
    width: 100%;
    max-width: 25%;
}
.gallery-img{
    width: 100%;
    padding-right: 20px;
    height: 577px;
}
.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-bottom-color{
    
    background-color: #0d0d0eda;
    width: 100%;
    height: 75px;
}
.gallery .owl-theme .owl-dots button{
    outline: none;
    border: 1px solid transparent !important;
    
}
.gallery .owl-theme .owl-nav{
    position: absolute;
    /* top: 45%; */
    bottom: -15px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    margin-top: 0 !important;
     z-index: 22233;
    
  }
  .gallery .owl-theme .owl-nav:hover{
    background-color: transparent;
  }
  .gallery .owl-theme .owl-nav .owl-prev{
    left: 32px;
  }
  .gallery .owl-theme .owl-nav .owl-next{
    right: 32px;
   }
   .gallery .owl-theme .owl-nav .owl-prev,
   .gallery .owl-theme .owl-nav .owl-next{
    position: absolute;
    display: block;
   }
   .gallery .owl-theme .owl-nav .owl-prev:hover,
   .gallery .owl-theme .owl-nav .owl-next:hover{
    background-color: transparent;
    border: transparent;
   }
   .gallery .owl-theme .owl-nav .owl-prev span,
   .gallery .owl-theme .owl-nav .owl-next span{ 
    display: inline-block;
    line-height: 0;
    padding: 0;
    line-height: 30px;
    width: 40px;
    height:40px ;
    border-radius: 50px;
    border: 1px solid #A95E39;
    color: #A95E39;
    /* color: #383838; */
    font-size: 54px;
    transition: all 0.3s ease;
    background-color: transparent;
   }
    .gallery .owl-theme .owl-nav .owl-prev span:hover,
    .gallery .owl-theme .owl-nav .owl-next span:hover{
        display: block;
        /* border: 1px solid rgb(22, 159, 250); */
        border: 1px solid #863f1c;
        /* background-color: #09f;   */
        color: #fff; 
        background-color: #A95E39; 
    }
/* /---------------------------------------------- */

@media (max-width:992px){
    .nav-list{
        position: fixed;
        top: 0px;
        left: -100%;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        /* background-color:#484F5B; */
        background-color: rgba(0, 0, 0, 0.8);
        padding-left: 20px;
        padding-right: 20px;
        transition:  all 0.3s ease-in-out;
        padding-top: 100px;
    }
    .nav-a{
        color: #fff;
        padding:8px 12px;
        display: block;
        
    }
    .nav-a:hover{
        color: rgb(216, 215, 215);
        background-color: #616366;
    }
    
}



/*min-width*/
 
@media(min-width:992px){
    .menu-destop,
    .btnn-close{
        display: none;
    }
}
/* ------------navbar end ---------------------*/


 .footer-container{
   padding-top:62.5px;
   padding-bottom:58.5px;
   background-color: #484F5B;
 }
  .footer-title{
   font-size: 25px;
   color: #fff;
   margin-bottom: 27px;
   font-family: 'MYRIADPRO-REGULAR';
   text-transform: uppercase;
   padding-left: 12px;
  }
  .footer-text-span,
  .footer-link,
  .footer-copyright{
    font-size: 16.67px;
    display: block;
    color: #ffff; 
  }
  
  .footer-text-span{
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 35px;
    display: inline-block;
  }
  .footer-ul{
      list-style: none;
      padding-left: 0;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 0;
  }
  .footer-a{
      color: #fff;
      letter-spacing: 10;
      font-size: 23.67px;
      display: block;
      font-family: 'MYRIADPRO-REGULAR';
  }
  .footer-a:hover,
  .footer-link:hover{
      color: rgb(216, 212, 212);
  }

  .footer-location{
      display: flex;
  }
  .footer-find,
  .footer-num-span{
    font-size: 16px;
      display: block;
      color: #fff;
      font-family: 'MYRIADPRO-REGULAR';
  }
  
  .footer-location{
      margin-top: 16px;
  }
  .footer-find{
      padding-right: 20px;
  }
  

    .margin-top-0{
        margin-top: 0;
    }
    .mmb-0{
        margin-bottom: 0 !important;
    }
    .footer-bottom{
        background-color: #000000;
        padding-top: 26px;
        padding-bottom: 26px;
        object-fit: 26px;
    }
    .footer-bottom-row{
        display: flex;
        justify-content: space-between;
    }
    .footer-social-icon{
        display: flex;
        align-items: center;
    }
    .footer-social-icon-a{
        /* background-color: #fff; */
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        border-radius: 2px;
        margin-right: 8.1px;
        transition: all 0.3s ease-in-out;
        color: #fff;
        border: 1px solid #fff;
        font-family: 'MYRIADPRO-REGULAR';
      }
      .footer-social-icon-a:hover{
        background-color: rgb(236, 236, 236);
        color: rgb(34, 33, 33);
      }
      .footer-copyright{
          display: block;
          line-height: 60px;
      }
/* /////////////////////////////////////////////jkuytrytry */





@media(max-width:1400px){
    .your-website{
        height: 70px;
    }
    .navbar-top-default{
        top:70px ;
    }
   
    
    .company-container{
        min-height: 512px;
    }
    .company-h1{
        font-size: 52px;
        line-height: 50px;
    }
    .team-p{
        font-size: 22px;
        line-height:30px;
    }
    .company-content{
        bottom: 50px;
    }
    .company-p{
        font-size: 35px;
    }
    .team-container{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .team-h1{
        font-size: 50px;
        margin-bottom: 45px;
    }
    .team-horizontal-line{
        top: 75px;
    }
    .team-inner{
        margin-top: 60px;
    }
    .team-card-img{
        height: 320px;
    }
    .team-h2{
        font-size: 24.55px;
        margin-top: 22.4px;
        margin-bottom: 24.55px;
    }
    .team-card-content{
        padding-right: 14px;
        padding-left: 14px;
    }
    

    .counter-container{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .counter-h1{
        font-size: 50px;
        margin-bottom: 0;
    }
    .counter-p{
        font-size: 19.58px;
    }
    .contact-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .contact-h1{
        font-size:41px;
        margin-bottom: 20px;
    }
    .contact-p{
        font-size: 20.61px;
        line-height: 35px;
        margin-bottom: 50px;
    }
    .row-2{
        margin-top: 40px;
    }
    .form-btn{
        margin-top: 45px;
    }
    .form-btn a{
        font-size: 20px;
        padding: 10.5px 35px;
    }
    .about-right-container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about-left-img{
        height: 457px;
    }
    .about-h1{
        font-size: 42px;
        margin-bottom: 25px;
    }
    .about-mt{
        margin-top: 40px;
    }
    .about-radius-img{
        max-width: 110px;
        height: 110px;
    }
    .about-right-span{
        font-size: 16px;
        padding: 13px 12px;
    }
    .about-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .social-banner-container{
        height: 570px;
    }
    .gallery-container{
        padding-top: 45px;
    }
    .gallery-h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .gallery-p{
        font-size: 20px;
        line-height: 32px;
    }
    .gallery-images{
        margin-top: 48px;
    }
    .gallery-img{
        height: 332px;
    }
    .footer-title{
        font-size: 22px;
    } 
    .footer-a{
        font-size: 18px;
    }


 }






 @media(max-width:992px){
     .team-container{
         padding-top: 40px;
         padding-bottom: 40px;
     }
     .team-h1{
         font-size: 32px;
         margin-bottom: 25px;
     }
     .team-p{
        font-size: 18px;
        line-height: 28px;
    }
     .team-horizontal-line{
         top: 50px;
         max-width: 228px;
     }
     .team-inner{
         margin-top: 35px;
     }
     .team-card-img{
         height: 220px;
     }
    .team-card-content{
        padding-right: 4px;
        padding-left: 4px;
    }
    .team-h2{
        font-size: 21.55px;
        margin-top: 18.55px;
        margin-bottom: 19.55px;
    }
    .team-p2{
        font-size: 15px;
        line-height: 22px;
    }
    .form-input{
        font-size: 16px;
    }
    .form-input::placeholder{
        font-size: 16px;
    }
    .form-btn a{
        padding: 8.5px 19px;
        font-size: 16px;
    }
    .about-bg-color{
        margin-top: 30px;
    }
    .about-left-img{
        height: 358px;
    }
    .social-banner-container{
        height: 490px;
    }
    .gallery-h1{
        font-size: 36px;
    }
    .gallery-p{
        font-size: 16px;
        line-height: 26px;
    }
    .gallery-images{
        margin-top: 20px;
    }
    .gallery-img{
        height: 180px;
    }
    .gallery-bottom-color{
        height: 50px;
    }
    .gallery .owl-theme .owl-nav{
        bottom: -6px;
    }
    .gallery .owl-theme .owl-nav .owl-prev span,
   .gallery .owl-theme .owl-nav .owl-next span{ 
       font-size: 32px;
       height: 30px;
       width: 30px;
       line-height: 20px;
   }
  .footer-container{
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .footer-title{
      margin-bottom: 15px;
  }
   .footer-bottom-row{
    flex-direction: column;
    justify-content: center;
  }.footer-copyright{
      text-align: center;
  }
  .footer-social-icon{
      justify-content: center;
  }
    
 }




 @media(max-width:768px){
     
    .counter-content{
        margin-top: 22px;
    }
    .counter-mt-0{
        margin-top: 0px;
    }
    .counter-h1{
        line-height: 48px;
    }
    .col-mt-3{
        margin-top: 40px;
    }
    
 }





 @media(max-width:576px){
     .company-container{
         height: 390px;
     }
     .company-content{
        right: 80px;
     }
  .company-h1{
      font-size: 32px;
  }
  .company-p{
      font-size: 23px;
  }
  .team-h1{
      font-size: 26px;
      margin-bottom: 19px;
  }
  .team-horizontal-line{
      top: 40px;
      max-width: 160px;
  }
  .team-p{
      font-size: 16px;
  }
  .team-card-img{
      height: 170px;
  }
  .team-h2{
      margin-bottom: 13.55px;
  }
  .counter-container{
      padding-top: 30px;
      padding: 30px;
  }
  .counter-h1{
      font-size: 35px;
      line-height:39px;
  }
  .counter-p{
      font-size:16.58px;
  }

  .contact-h1{
      font-size: 30px;
      margin-bottom: 20px;
  }
  .contact-p{
      font-size: 15.61px;
      line-height: 26px;
      margin-bottom: 40px;
  }
  .social-banner-container{
      height: 370px;
  }
  .about-left-img{
      height: 230px;
  }
  .about-h1{
      font-size: 32px;
  }
  .gallery-container{
      padding-bottom: 30px;
  }
  .gallery-h1{
    font-size: 28px;
    margin-bottom: 15px;
}

   .footer-container{
        padding-top: 42px;
        padding-bottom: 35px;
 }
    .footer-text-span{
        margin-top: 13px;
        margin-bottom: 19px;
    }
    .footer-copyright{
        line-height: 26px;
        margin-bottom: 15px;
        font-size: 14px;
    }
 }